<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/matchinggame1.css">
    <title>Matching game</title>
  </head>
  <body>

    <header>
      <section class="topCard">
        <span>This is as much a game about color, as it is memory.</span>
      </section>
      <section class="topWords">
        <h1>Matching Card Game</h1>
      </section>
      <section class="topCard">
        <span>Enjoy this javascript game I made.<br> Click the cards to match the colors - Dee</span>
      </section>
    </header>

    <section class="container">
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
      <section class="card"></section>
    </section>

    <footer>

    </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../js/matchinggame1.js"></script>
  </body>
  </html>
